
<div class='container'>
  <button class='btn' (click)='showForm()'>+ Add Quote</button>
  <app-quote-form></app-quote-form>
  <div class='row'>
    <li *ngFor="let quote of quotes" class='card col'>
      <div class='quote'>
        <div class='details'>
          <span class='to-left'>{{quote.name}}</span>
          <span class='to-right'>{{quote.timePublished}}</span>
        </div>
        <!-- Quote goes here -->
        <div class='main-quote'>
          <p>"{{quote.quote}}"</p>
        </div>
        
        <div class='details'>
          <p id='author'>- {{quote.author}}</p>
          <span id='upvotes'>
            <i class="material-icons">thumb_up_alt</i>
            {{quote.upVotes}}
          </span>
          <span id='downvotes'>
            <i class="material-icons">thumb_up_alt</i>
            {{quote.downVotes}}
          </span>
        </div>

      </div>
    </li>
  </div>
</div>


