
<div class='container'>
  <button class='btn' (click)='showForm()' *ngIf="add; else exitForm">+ Add Quote</button>
  <ng-template #exitForm>
    <button class='btn' (click)='showForm()'>Cancel</button>
  </ng-template>
  <app-quote-form></app-quote-form>
  <div class='row'>
    <li *ngFor="let quote of quotes" class='card col'>
      <div class='quote'>
        <div class='details'>
          <span class='to-left'>{{quote.name}}</span>
          <span class='to-right'>{{quote.timePublished}}</span>
        </div>
        <!-- Quote goes here -->
        <div class='main-quote'>
          <p>"{{quote.quote}}"</p>
        </div>
        
        <div class='details'>
          <p id='author'>- {{quote.author}}</p>
          <div class='votes'>
            <span (click)='upVote()'>
              <i class="material-icons">thumb_up_alt</i>
              <p>{{quote.upVotes}} Likes</p>
            </span>
            <span (click)='downVote()'>
              <i class="material-icons">thumb_down_alt</i>
              <p>{{quote.downVotes}} Dislikes</p>
            </span>
          </div>
        </div>

      </div>
    </li>
  </div>
</div>


